@mixin circle ($top, $left){
  background-color: transparent;
  height: 90px;
  position: relative;
  top: $top;
  left: $left;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 90px;
}
